fieldset{
    box-shadow: 5px 5px 5px;
}
.border {
	border: 2px solid #dee2e6 !important;
}
legend{
    background-color: #45526e;  	
  	border-radius: 5px 5px 5px 5px;	
    color: #fff;
    height: 70px;
    width: 50% !important;
    text-align: center;
}

fieldset{
    background: white;       
}

  .center-h {
    justify-content: center;
  }
  .center-v {
    align-items: center;
  }
  .evaluados {
    color: rgb(22, 9, 138);
    font-weight: bold;
  }
  .faltantes {
    color: rgb(139, 9, 9);
    font-weight: bold;
  }
  .child {
    background: #60e0b0;
    padding: .2rem;
  }

  .tabletr {
    text-align: justify;
    font-weight: bold;
  }
  .tableth {
    text-align: center;
    font-weight: normal;
  }

  .stylepreguntas{
    align-items: baseline;
  }