<footer>
    <!-- Footer -->
    <footer class="page-footer font-small mdb-color pt-4">

        <!-- Footer Links -->
        <div class="container text-center text-md-left">

            <!-- Footer links -->
            <div class="row text-center text-md-left mt-3 pb-3">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Conoce el estado</h6>
                    <p>
                        <a href="#!">Portal del Gobierno del Estado de México</a>
                    </p>
                    <p>
                        <a href="#!">Quejas y Denuncias</a>
                    </p>
                    <p>
                        <a href="#!">Comisión Estatal de Mejora Regulatoria</a>
                    </p>
                    <p>
                        <a href="#!">Información Pública de Oficio Mexiquense</a>
                    </p>
                    <p>
                        <a href="#!">Solicitud de Información</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Acerca del Sitio</h6>
                    <p>
                        <a href="#!">Contáctanos</a>
                    </p>
                    <p>
                        <a href="#!">Mapa del sitio</a>
                    </p>
                    <p>
                        <a href="#!">Avisos legales</a>
                    </p>
                    <p>
                        <a href="#!">Acerca del sitio</a>
                    </p>
                </div>
                <!-- Grid column -->

                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
                    <p>
                        <a href="#!">Gobierno del Estado de México Secretaría de Finanzas</a>
                    </p>
                    <p>
                        <a href="#!">Lerdo poniente # 300 Puerta 300 Palacio del Poder Ejecutivo Col. Centro Toluca</a>
                    </p>
                    <p>
                        <a href="#!">Tel. (01800) 6969696s</a>
                    </p>
                    <p>
                        <a href="#!">fcomunicacion@edomex.gob.mx</a>
                    </p>
                </div>

                <!-- Grid column -->
                <hr class="w-100 clearfix d-md-none">

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
                    <img src="./assets/Images/h1.png" alt=""> 
                </div>
                <!-- Grid column -->

            </div>
            <!-- Footer links -->

            <hr>

            <!-- Grid row -->
            <div class="row d-flex align-items-center">

                <!-- Grid column -->
                <div class="col-md-7 col-lg-8">

                    <!--Copyright-->
                    <p class="text-center text-md-left">© 2020 Copyright:
                        <a href="https://mdbootstrap.com/">
                            <strong> EDOMEX</strong>
                        </a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-5 col-lg-4 ml-lg-0">

                    <!-- Social buttons -->
                    <div class="text-center text-md-right">
                        <ul class="list-unstyled list-inline">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                   
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                   
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                    
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer -->

</footer>