:host{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.content{
    padding: 20px;

}
app-footer{
    padding-left: 0px;
}

app-header{
    padding-right: 0px;
    padding-left: 0px;
}

